<div class="playlist-body" id="playlist-bod">
	<ul id="tracks">
	{{#items}}
	  <li class="dl-horizontal">
	      <dt class="playlist_uri">Added At</dt><dd>{{added_at}}</a></dd>
	      <dt class="playlist_uri">Name</dt><dd>{{track.name}}</a></dd>
	  </li>
	{{/items}}
	</ul>
</div>

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
<script>
	var list = document.getElementById("tracks");
	Sortable.create(list); // That's all.
</script>