<div class="playlist-body" id="playlist-bod">
	{{#items}}
	  <dl class="dl-horizontal">
	      <dt class="playlist_uri">Added At</dt><dd>{{added_at}}</a></dd>
	      <dt class="playlist_uri">Name</dt><dd>{{track.name}}</a></dd>
	  </dl>
	{{/items}}
</div>