<div class="playlist-body" id="playlist-bod">
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">Playlist Tracks</h5>
			<ol id="tracks" class="list-group song-list">
				{{#tracks.items}}
				  <li class="row dl-horizontal list-group-item" id="{{track.uri}}">
				  	<div class="col-md-2 song-handle">
				  		<i class="fas fa-music"></i>
				  	</div>
				  	<div class="col">
				      <dt class="playlist_uri">Added At</dt><dd>{{added_at}}</a></dd>
				      <dt class="playlist_uri">Name</dt><dd>{{track.name}}</a></dd>
				    </div>
				  </li>
				{{/tracks.items}}
			</ol>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
		<h5 class="card-title">Current Tracks</h5>
			<ol id="curr" class="list-group song-list">
			</ol>
		</div>
	</div>
</div>
<button type="button" class="btn btn-line" id="add_list">+ Add List</button>
<button type="button" class="btn btn-outline-primary" id="play-curr">Play Current Tracks</button>

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
<script>
	var master = document.getElementById("playlist-bod");
	Sortable.create(master);

	[].forEach.call(master.getElementsByClassName('song-list'), function(e1) {
		Sortable.create(e1, {
			group: 'song-list',
			handle: 'song-handle'
		});
	});

	$( "#play-curr" ).click(function() {
		var track_uris = []
		var curr_tracks = $('#curr');
		$("#curr").children().each(function() {
		    console.log($(this).attr('id'));
		    track_uris.push($(this).attr('id'));
		});
	  	$.ajax({
	        url: '/play_current',
	        type: 'post',
	        data: JSON.stringify({
	        	'access': "{{access_token}}",
	        	'uris': track_uris
	        })
	    });
	});

	$("#add_list").click(function() {
		var wrapper= document.createElement('div');
		wrapper.classList.add("card");
		wrapper.innerHTML= '<div class="card-body"> \
		<h5 class="card-title">Another Title</h5> \
			<ol id="curr" class="list-group song-list"> \
			</ol> \
		</div>';
		master.appendChild(wrapper);
		[].forEach.call(master.getElementsByClassName('song-list'), function(e1) {
		Sortable.create(e1, {
			group: 'song-list',
			handle: 'song-handle'
		});
	});
	})
</script>