<div class="container">
	<div class="playlist-body" id="playlist-bod">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Playlist Tracks</h5>
				<button type="button" class="btn btn-outline-primary" id="play-curr">Play</button>
				<div class="row">
					<div class="play-handle col-md-1">
						<i class="fas fa-arrows-alt"></i>
					</div>
					<div class="col-md-11">
						<ol class="list-group song-list">
							{{#tracks.items}}
							  <li class="dl-horizontal list-group-item" id="{{track.uri}}">
							  	<div class="row">
								  	<div class="col-md-1">
								  		<i class="fas fa-music song-handle"></i>
								  	</div>
								  	<div class="col-md-3">
								      <dt class="playlist_uri">Added At</dt><dd>{{added_at}}</a></dd>
								    </div>
								    <div class="col-md-3">
								    	<dt class="playlist_uri">Name</dt><dd>{{track.name}}</a></dd>
								    </div>
							    </div>
							  </li>
							{{/tracks.items}}
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Current Tracks</h5>
				<button type="button" class="btn btn-outline-primary" id="play-curr">Play</button>
				<div class="row">
					<div class="play-handle col-md-1">
						<i class="fas fa-arrows-alt"></i>
					</div>
					<div class="col-md-11">
						<ol class="list-group song-list">
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<button type="button" class="btn btn-line" id="add_list">+ Add List</button>

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
<script>
	var master = document.getElementById("playlist-bod");
	Sortable.create(master, {
		handle: '.play-handle'
	});

	[].forEach.call(master.getElementsByClassName('song-list'), function(e1) {
		Sortable.create(e1, {
			group: 'song-list'
		});
	});

	function playSongs(event) {
		item = event.target
		var track_uris = []
		var curr_tracks = item.parentElement.getElementsByClassName("song-list");
		$(curr_tracks).children().each(function() {
		    console.log($(this).attr('id'));
		    track_uris.push($(this).attr('id'));
		});
	  	$.ajax({
	        url: '/play_current',
	        type: 'post',
	        data: JSON.stringify({
	        	'access': "{{access_token}}",
	        	'uris': track_uris
	        })
	    });
	}

	$(document).on('click', '.play-curr', playSongs);

	$("#add_list").click(function() {
		var wrapper= document.createElement('div');
		wrapper.classList.add("card");
		wrapper.innerHTML= '<div class="card-body">\
				<h5 class="card-title">Current Tracks</h5>\
				<button type="button" class="btn btn-outline-primary" id="play-curr">Play</button>\
				<div class="row">\
					<div class="play-handle col-md-1">\
						<i class="fas fa-arrows-alt"></i>\
					</div>\
					<div class="col-md-11">\
						<ol id="curr" class="list-group song-list">\
						</ol>\
					</div>\
				</div>\
			</div>';
		master.appendChild(wrapper);
		[].forEach.call(master.getElementsByClassName('song-list'), function(e1) {
		Sortable.create(e1, {
			group: 'song-list'
		});
	});
	})
</script>